<h3>Crear alumno</h3>

<form method="POST">
    <label for="nombre">Nombre</label><br />
    <input type="text" value="{{Alumno.Nombre}}" name="nombre" /><br />
    <label for="apellido">Apellido</label><br />
    <input type="text" value="{{Alumno.Apellido}}" name="apellido" /><br />
    <label for="edad">Edad</label><br />
    <input type="text" value="{{Alumno.Edad}}" name="edad" /><br />
    <input type="submit" value="Guardar" />
</form>