<table>
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#each Instructores}}
            <tr>
                <td>{{ Apellido }}</td>
                <td>{{ Nombre }}</td>
                <td>
                    <a href="/editarInstructor?id={{_id}}">Editar</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>