<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

<h1>Chat de Educacion IT</h1>

<script>
    var socket = io();
    socket.on("conn", function(msg){
        console.log("Recibido ");
        console.log(msg);
    })
</script>